

<div id="gr" class="ui raised padded container segment">
  <div class="ui negative message" *ngIf="loginError">
      <i class="close icon"></i>
      <div class="header">
        Oops looks like there was an error logging in.
      </div>
      <p>Please try again or contact support.</p>
  </div>

  <form class="ui form" #loginForm="ngForm" (ngSubmit)="login(loginForm.value, loginForm.valid)" novalidate>
    <div class="field">
      <label>Username</label>
      <input type="text" [(ngModel)]="user.username" #username="ngModel" name="username" placeholder="Username" required>
    </div>

    <div class="field">
      <label>Password</label>
      <input type="password" [(ngModel)]="user.password" name="password" #password="ngModel" placeholder="Password" required>
    </div>
    
    <button class="ui button primary" type="submit">Login</button> <a  class="ui button gold" routerLink="/register">Register</a>
  </form>
</div>