
<header class="ui padded container">
  <a class="user toggle" (click)="toggleSidebar($event)">
    <i class="user icon"></i>
  </a>
  <h1 class="logo">
    Gold<span>Rush</span>
  </h1>

  <div class="ui buttons game-toggle" (click)="toggleGameList($event)" *ngIf="loggedIn">
    <button class="ui deal button active" data-dest="games">Gold Games</button>
      <div class="or"></div>
    <button class="ui deal button" data-dest="deals">Gold Deals</button>
  </div>
</header>

<div class="ui sidebar details inverted vertical menu">
  <form class="ui form" #detailsForm="ngForm" (ngSubmit)="update(detailsForm.value, detailsForm.valid)" novalidate>
    <div class="field">
      <label>Username</label>
      <input type="text" [(ngModel)]="user.username" #username="ngModel" name="username" placeholder="Username" required>
    </div>

    <div class="field">
      <label>Password</label>
      <input type="password" [(ngModel)]="user.password" name="password" #password="ngModel" placeholder="Password" required>
    </div>

    <div class="field">
      <label>Phone</label>
      <input type="text" [(ngModel)]="user.phone" name="phone" #phone="ngModel" placeholder="Phone #" required>
    </div>
    
    <button class="ui button primary fluid" type="submit">Update</button>
    <br>
    <a class="ui button positive fluid" (click)="testNotification(user)">Test Notification</a>
  </form>
</div>

<div class="pusher">
  <!-- Site content !-->
  <router-outlet></router-outlet>
</div>